@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-film-darker;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-film-border rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}

@layer components {
  .film-sprocket {
    @apply w-3 h-4 rounded-sm bg-film-darker border border-film-border;
  }

  .film-strip-container {
    scrollbar-width: thin;
    scrollbar-color: #333 #0d0d0d;
  }
}
